html {
    text-align: center;
}

body {
    background-color: rgb(176,196,222);
    padding: 3%;
}

.meuNome, .minhaDescricao {
    font-family: 'Courier New', Courier, monospace;
}

em, strong {
    color: rgb(65,105,225);
}

ul {
    list-style: none;
    margin-right: 50px;
}

.javascript {
    font-size: 30px;
}

.sql {
    font-size: 29px;
}

.react {
    font-size: 28px;
}

.bootstrap {
    font-size: 27px;
}

.metoAgil {
    font-size: 26px;
}

#foto {
    float: left;
    height: 280px;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 50%;
}

.image-container {
    height: 300px;
    position: relative;
}

.meuNome {
    text-align: center;
}

.minhaDescricao {
    position: absolute;
    top: 35%;
    right: 2%;
}

ul li:nth-child(odd) {
    background-color: blanchedalmond;
}