<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="fundamentos frontend backend computacao">Todos</span></li>
            <li><span class="filter" data-filter="fundamentos">Fundamentos e Outros</span></li>
            <li><span class="filter" data-filter="frontend">Front-End</span></li>
            <li><span class="filter" data-filter="backend">Back-End</span></li>
            <li><span class="filter" data-filter="computacao">Ciência da Computação</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            {% for project in site.data.projects %}
                <div class="portfolio fundamentos" data-cat="fundamentos">	
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">		
                        <a href="/images/portfolio/lessons.png" rel="portfolio" title="Desenvolvimento de uma página HTML estilizada com CSS. Através desta aplicação, será possível realizar a construção de código HTML, posicionamento e estilização CSS.">
                            <img src="/images/portfolio/lessons.png" alt="" />
                            <div class="label">
                                <div class="label-text">
                                    <a href="https://jadsonmattos.github.io/LessonsLearned" target="_blank" class="text-title">{{project.name}}</a>
                                    <span class="text-category"></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>		
            {% endfor %}

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->