<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Perfil - Sobre Mim</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">jadson s mattos</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Nome</label>
                <span class="value">Jadson de Sousa Mattos</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Data de Nascimento</label>
                <span class="value">1991</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Endereço</label>
                <span class="value">Brasil</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">jadson.sousamattos@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>WhatsApp</label>
                <span class="value">(48) 99612-2449</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">Em construção</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Olá! 👋 Sou um entusiasta da tecnologia em transição de carreira para o desenvolvimento de software. Atualmente, estou cursando Ciência da Computação e aprimorando minhas habilidades na Trybe, uma escola que me proporciona uma visão completa do desenvolvimento web.
            Ao longo da minha jornada, desenvolvi projetos abrangentes, desde aplicações interativas com React até a construção de APIs robustas com Node.js. Estou focado em aprimorar minhas habilidades em JavaScript, React, TypeScript e Python.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Engajado em cursos como Ciência da Computação de Harvard e prático na abordagem da Trybe, busco constantemente aprender e crescer. Minha versatilidade me permite adaptar-me a novos desafios e tecnologias. 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="/images/img-profile/about_1.jpeg" alt="" />
            <img src="/images/img-profile/about_2.jpeg" alt="" />
            <img src="/images/img-profile/about_3.jpeg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Alguns Serviços</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Frontend</h6>
                    <p>Requisições a APIs; React com Typescript; Testes automatizados com React Testing Library; CSS Modules; Gerenciamento de estado com Redux; Context API</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Backend</h6>
                    <p>Banco de Dados; SQL; NoSQL; Server-Side; Deploy; Node; Express.JS; ORM; Docker; Testes Unitários; Testes de Integração</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Ciência da Computação</h6>
                    <p>Internet; Unix & Shell; Git; HTML; CSS; Testes Automatizados; Javascript; Algoritmos; Estruturas de dados.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Algumas especificações</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Frontend
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Dominância na construção de interfaces web dinâmicas utilizando React e Typescript.
                        Habilidade em estilização avançada com CSS para criar aplicações visualmente atraentes.
                        Realização de requisições a APIs, permitindo a obtenção e manipulação de dados externos em suas aplicações.
                        Utilização do React Testing Library para garantir a qualidade e robustez do código.
                        Competência no gerenciamento de estado com Redux e Context API, proporcionando uma experiência de usuário mais fluida e interativa.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Backend
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Compreensão sólida do desenvolvimento de sites e aplicativos do lado do servidor.
                        Criação de interfaces de comunicação entre sistemas (APIs) para integração eficiente.
                        Conhecimento em SQL e NoSQL para realizar consultas e manipulação de dados em bancos de dados.
                        Implementação de tecnologias como Node e Express.JS para configuração e execução de aplicações server-side.
                        Experiência em criação de testes unitários e de integração.
                        Conhecimento em estratégias de deploy para disponibilização eficiente de aplicações.
                        Utilização de Docker para facilitar a implantação e execução de aplicações.
                        Conhecimento em ORM para simplificar a interação com bancos de dados.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Ciência da Computação
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Conclusão do módulo, adquirindo compreensão aprofundada dos princípios da Internet, lógica de programação, e criação de páginas web com HTML, CSS, e Javascript.
                        Experiência prática na escrita de algoritmos básicos e realização de testes automatizados.
                        Proficiência no uso de ferramentas cruciais para programadores, como Git e Unix & Shell.
                        Habilidade no desenvolvimento e teste de códigos para assegurar o correto funcionamento de programas e aplicações web.
                        Aplicação de técnicas avançadas de algoritmos e estrutura de dados para construção eficiente de aplicações.
                        Foco em boas práticas para garantir desempenho e organização do código.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->